---
// @ts-nocheck
import type { MarkdownHeading } from 'astro';

import MainLayout from './MainLayout.astro';

import type { HomepageEntry } from '~/content/config';
import CardsList from '~/components/HomePages/Cardlist.astro';
import ReadableContent from 'azion-webkit/readablecontent';

export interface Props {
	content: HomepageEntry['data'];
	headings: MarkdownHeading[];
	id: String;
}

const { content } = Astro.props;
import HeroBlockBase from "azion-webkit/herobase";
import LinkButton from 'azion-webkit/linkbutton'
import ContentSection from 'azion-webkit/contentsection';
import CardBase from 'azion-webkit/cardbaseclickable';

---

<MainLayout {...Astro.props}>
	{content.namespace !="documentation_home" ? (
 <ReadableContent>
		<p>
			{content.description }
		</p> 
	 </ReadableContent> 
	 	<CardsList data={content.product_cards} />
	):(
	
<HeroBlockBase
    title="Welcome to Azion Docs"
    description="Azion is the full-stack edge computing platform that simplifies how you build, secure, and scale modern applications."
    display="flex"
    align="center"
    isCentralized=true
>
    <Fragment slot="actions">
        <LinkButton link="https://www.azion.com/en/documentation/products/get-started/" label="Get started" severity="primary" />
    </Fragment>
</HeroBlockBase>

<ContentSection
    title="Build applications faster"
    description="Build using your favorite framework and deploy an edge application in just a few steps."
    position="left"
    grid=true
    isCentralized=true
    
>
<Fragment slot="actions">
        <CardBase
          grid = true link = "https://console.azion.com/create/nextjs/next-static-boilerplate">
            <Fragment slot="content">
                Next
            </Fragment>
        </CardBase>

        <CardBase
        grid = true link = "https://console.azion.com/create/vue/vue-boilerplate">
            <Fragment slot="content">
                Vue
            </Fragment>
        </CardBase>

        <CardBase
        grid = true link = "https://console.azion.com/create/react/react-boilerplate">
            <Fragment slot="content">
               React
            </Fragment>
        </CardBase>

        <CardBase
        grid = true link = "https://console.azion.com/create/angular/angular-boilerplate">
            <Fragment slot="content">
                Angular
            </Fragment>
        </CardBase>

        <CardBase
        grid = true link = "https://console.azion.com/create/astro/astro-boilerplate">
            <Fragment slot="content">
                Astro
            </Fragment>
        </CardBase>
    </Fragment>
    <Fragment slot="content">
    <LinkButton link="https://www.azion.com/en/documentation/products/marketplace/templates/#application-development" label="More frameworks" severity="primary" />
    </Fragment>

</ContentSection>

<ContentSection
    position="left"
    grid=true
    isCentralized=true
    description = "Discover tailored solutions for your specific use cases and business needs."
    title = "Find the solution that fits you better"
position = "left"
grid = "true"
isCentralized = "true"
>

    <Fragment slot="actions">
        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/architectures/edge-application/application-acceleration/">
            <Fragment slot="content">
              Accelerate Applications and APIs with Edge Computing
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/architecture/bot-management/protect-your-applications-with-bot-management/"
        >
            <Fragment slot="content">
              Protect Your Edge Applications with a Bot Management Solution
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/architecture/edge-firewall/web-application-and-api-protection-waap/">
            <Fragment slot="content">
              Enhance Cybersecurity with Azion's Advanced WAAP Solution
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/architectures/edge-application/serverless-applications/">
            <Fragment slot="content">
              Implement Serverless Architecture with Azion
            </Fragment>
        </CardBase>
    </Fragment>

    <Fragment slot="content">
    <LinkButton link="https://www.azion.com/en/documentation/architectures/" label="View All Use Cases" severity="primary" />
    </Fragment>

</ContentSection>

<ContentSection
    title="Pick your development interface"
    position="left"
    grid=true
    isCentralized=true
    description = "Choose the interface that best suits your workflow, from intuitive GUIs to powerful APIs."
>

    <Fragment slot="actions">
        <CardBase
        grid = true
        link = "https://console.azion.com/">
            <Fragment slot="content">
              Azion Console
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/azion-cli/overview/"
        >
            <Fragment slot="content">
             Azion CLI
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://api.azion.com/">
            <Fragment slot="content">
              Azion API
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/terraform-provider/">
            <Fragment slot="content">
             Azion Terraform Provider
            </Fragment>
        </CardBase>
    </Fragment>
</ContentSection>

<ContentSection
    title="Choose your journey"
    position="left"
    grid=true
    isCentralized=true
    description = "Explore resources designed to support you at every stage."
>

    <Fragment slot="actions">
        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/guides/build/overview/">
            <Fragment slot="content">
              Build
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/store/overview/"
        >
            <Fragment slot="content">
             Store
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/secure/overview/">
            <Fragment slot="content">
              Secure
            </Fragment>
        </CardBase>

        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/deploy/overview/">
            <Fragment slot="content">
             Deploy
            </Fragment>
        </CardBase>
        <CardBase
        grid = true
        link = "https://www.azion.com/en/documentation/products/observe/overview/">
            <Fragment slot="content">
             Observe
            </Fragment>
        </CardBase>
    </Fragment>
</ContentSection>
<br><br>
<HeroBlockBase
    title="What's new?"
    description="Stay updated and share your experiences with the Azion community."
    display="flex"
    align="center"
    isCentralized=true
>
    <Fragment slot="actions">
        <LinkButton link="https://www.azion.com/en/documentation/products/release-notes/" label="Go to Release Notes" severity="primary" />
        <LinkButton link="" label="Join the Community" severity="secondary" />
    </Fragment>
</HeroBlockBase>
)}

</MainLayout>

